* {
  background-color: #999999;
}

#container {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
}

#container h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.q {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
}



#q0, #q1, #q2, #q3, #q4, #q5 {
  border-bottom: 10px solid black;
} 

#q2, #q5, #q8, #q1, #q4, #q7 {
  border-left: 10px solid black;
} 

.q:hover {
  background-color: coral;
  opacity: 50%;
}

.winner {
  color: red;
}

#buttonHolder {
  margin: auto;
  position: relative;
  width: 70%;
  top: 50px;
}

button {
  width: 100%;
  font-size: 3em;
  height: 100px;
}